<div class="container">
     <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect ">
                <div class="card-body text-center bg-secondary-theme">
                        <h3 class="text-theme-center">All Blog Posts</h3>
                        <p>From Here you can manager your all blog posts</p>
               
                    <button class="btn btn-info bg-theme" routerLink='/posts/new'> Add New Post </button>
                    <button class="btn btn-info btn-warning ml-2" routerLink= '/'> Back to Dashboard </button>
                </div>
            </div>
        </div>
     </div>
</div>